

#inside{
    text-align: center;
}

#imgi{
    height: 200px;
    width: 200px;
}

#contenido{
    padding-top: 40px;
    padding-bottom: 30px;
}

#title{
    padding-top: 40px;
    padding-bottom: 30px;
}
